<div class="container my-2 px-2">
  <div class="row mt-4">
    <div class="col-4">
      <h1>Add product</h1>
      <form #form="ngForm" (submit)="save()">
        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="product().productName"
            required
            id="name"
            placeholder="Name Required"
          />
          @if (form.controls['name'] && !form.controls['name'].valid && form.controls['name'].touched) {
          <span class="form-text text-danger"> Name Required </span>
          }
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            name="price"
            [(ngModel)]="product().price"
            required
            min="0"
            id="price"
            placeholder="Price Required"
          />
          @if (form.controls['price'] && !form.controls['price'].valid && form.controls['price'].touched)
          {
          <span class="form-text text-danger"> Price Required </span>
          }
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="product().discontinued"
            id="discontinued"
            name="discontinued"
          />
          <label class="form-check-label" for="discontinued">
            Discontinued
          </label>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select
            class="form-select"
            [(ngModel)]="product().categoryId"
            name="category"
            required
            id="category"
          >
            <option [value]="null" disabled>Select a category</option>
            @for (category of categories; track category) {
            <option [value]="category.idCategory">
              {{ category.categoryName }}
            </option>
            }
          </select>
        </div>
        <!-- Display the name of the selected image -->
        @if (product().photoName) {
        <div class="form-group">
          <label for="imageName">Name of the selected image:</label>
          <input
            type="text"
            class="form-control"
            id="imageName"
            [(ngModel)]="product().photoName"
            name="imageName"
            readonly
          />
        </div>
        }
        <div class="mt-3 mb-3">
          <label for="image" class="form-label">Choose image</label>
          <input
            class="form-control"
            type="file"
            id="image"
            (change)="onChange($event)"
            accept="image/*"
            #fileInput
          />
        </div>
        <div
          style="display: flex; gap: 0.5rem; align-items: center"
          class="mt-3"
        >
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid"
          >
            Accept
          </button>
          @if (product().idProduct !== 0) {
          <button
            type="button"
            class="btn btn-warning"
            (click)="cancelEdition()"
          >
            Cancel edition
          </button>
          }
        </div>
      </form>
    </div>
    <div class="col-8">
      <p-table
        [value]="products"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="{first} of {last} of a total of {totalRecords} products"
        [rowsPerPageOptions]="[5, 10]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th></th>
            <th>Price</th>
            <th>Discontinued</th>
            <th>Category</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.productName }}</td>
            <td><img src="{{ product.photoUrl }}" width="80" /></td>
            <td>{{ product.price | number : "1.2-2" }} €</td>
            <td>{{ product.discontinued ? "Sí" : "No" }}</td>
            <td>{{ product.categoryName }}</td>
            <td>
              <p-button
                icon="pi pi-pencil"
                (click)="edit(product)"
                styleClass="p-button-warning"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                (click)="confirmDelete(product)"
                styleClass="p-button-danger"
              ></p-button>
              <p-button
                icon="pi pi-eye"
                (click)="showImage(product)"
                [disabled]="!product.photoUrl"
                styleClass="p-button-primary"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-confirmDialog></p-confirmDialog>
      <p-dialog
        header="Alert"
        [(visible)]="visibleError"
        [style]="{ width: '50vw' }"
      >
        <p>
          {{ errorMessage }}
        </p>
      </p-dialog>
      <div *ngIf="showCustomConfirm" class="custom-dialog-overlay">
        <div class="custom-dialog-box">
          <div class="custom-dialog-header">Are you sure?</div>
          <div class="custom-dialog-content">
            <i
              class="pi pi-exclamation-triangle"
              style="font-size: 2rem; color: #e53935"
            ></i>
            <span>{{ customConfirmMessage }}</span>
          </div>
          <div class="custom-dialog-footer">
            <button
              class="btn btn-outline-secondary"
              (click)="showCustomConfirm = false"
            >
              No
            </button>
            <button class="btn btn-danger" (click)="onCustomConfirmAccept()">
              Yes
            </button>
          </div>
        </div>
      </div>
      <p-dialog
        header="{{ product().productName }}"
        [(visible)]="visiblePhoto"
        [style]="{ width: '30vw' }"
      >
        <img [src]="photo" alt="Product photo" class="img-fluid" />
      </p-dialog>
    </div>
  </div>
</div>
